node_modules/
docs/
src/
dist/bundle/
dist/tests/
dist/mocha/
*.map
*.log
*.tgz
react-*
.gitignore
.npmignore
postcss.config.js
tsconfig.json
webpack.config.js
webpack.dev.config.js
styleconfig.json
.travis.yml
.vscode/
